.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    font-family: 'Roboto', sans-serif;
}

.App {

    background: url('https://tinyurl.com/y7qavu9u');
    padding: 0;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;

}

.seeThruHeader {
    background: linear-gradient(to left, red, purple);
    position: absolute;
    top: 0;
    opacity: 0.3;
    height: 100%;
    width: 100%;
}

#pageIntro {

    display: inline-block;
    padding-bottom: 1vh;
    border-bottom: 0.01em solid white;
    font-size: 4vw;

}

#subHeader {
    font-size: 3vw;
}

h1, h2 {
    position: relative;
    text-shadow: 1px 1px 1px #000;
    color: white;
    margin: 0;

}

ul {
    list-style: none;
    padding: 0;

}

p {

    color: white;
    font-size: 1.5em;

}


li {
    margin: 0;
    padding: 0;
    border-color: white;

}

#list {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    z-index: 1;
    right:3em;
    background: black;
    display: inline-block;
    width: 23.7vh;
    top:100vh;
    position: absolute;
}


.title{
    font-size:6vh;
    position: absolute;
    top:0em;


}
.aboutMe{
    width: 100%;
    height: 100%;
    padding-bottom: 10em;
    background-color: white;
    position: absolute;
    top:100vh;

}

#startOfList{
    overflow: hidden;
    top: 87%;
    right:3em;
    position: absolute;
    width: 23.7vh;
    height: 13vh;
    background-color: black;
    z-index: 3;
    padding: 0;


}
a {
    text-decoration: none;

}
.abHeadSubCont{
    position: absolute;
    height: 20%;
    width: 100%;
    text-align: center;
}
#turnUpsideDown{
    animation: MoveUpDown 1s linear infinite;;

    position: absolute;

    left: 7vh;
    font-size: 14vh;

    margin: 0;
}
@keyframes MoveUpDown {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 1vh;
    }
    100% {
        bottom: 0;
    }
}

.imgOfCreator{
    top:33%;
    position: absolute;
    left:40%;
    height: 50vh;
    width: 50vh;
    -webkit-border-radius: 40vh;
    -moz-border-radius: 40vh;
    border-radius: 40vh;

}
.aboutMe>*,div>.title,.abHeadSubCont>*{
    color: #FF5671;
}
#detailsStart{
    color:#FF5671 ;
    font-size: 6vh;

    position: absolute;
}
.aboutMe>.subtextHeader,div>.title  {

    border-bottom: #FF5671;
    border-bottom: 0.01em solid #FF5671;
}
.aboutMeHeader{

    font-weight:100;
    margin: 0;
    top:0;
    font-size: 20vh;
    position: absolute;
    left: 38%;
}
.subtextHeader{
    font-size: 4vh;
    border-bottom: 0.001em solid;
    position: absolute;
    top:6em;
    left:40%;

}
#aboutMeText{
    text-align: left;
    color: black;
    font-size: 2.8vh;
    position: relative;
    width: 45vh;
    height: 40vh;
    top:2.8em;

}
#colorBox{
    height: 100%;
    width: 20%;
    top:30%;
    left:15%;
    position: absolute;
}
#details{
    height: 100%;
    position: absolute;
    top:30%;
    right: 10%;
    width: 25%;

}
.expSec{
    background-color: #FF5671;
    position: relative;
    height: 100%;
    width: 100%;
    top:180vh;
}
#detailsStart,#detailsContent{
    color: #FF5671;
}
#details>*>*{
    left:2em;
}
#detailsContent,#name{
    top:1.50em;
    position: absolute;
}
#name {
    top:0.8em;
    color: black;
    font-size: 4vh;
    margin-top: 25px;
}
